/* body {
    background: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

.error-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error-illustration {
    max-width: 100%;
    height: auto;
}

.error-heading {
    font-size: 4rem;
    color: #dc3545;
}

.error-message {
    font-size: 1.5rem;
    margin-top: 10px;
}

.home-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 20px;
    border-radius: 5px;
}

.home-button:hover {
    background-color: #0056b3;
}