<head>
    <link rel="stylesheet" href="css/404.css">
</head>
<div class="error-container">
    <img src="404-illustration.png" alt="404 Illustration" class="error-illustration">
    <h1 class="error-heading">404</h1>
    <p class="error-message">Oops! Page not found</p>
    <a href="/" class="home-button">Go to Home</a>
</div>